{% extends "base.html" %}
{% load static %}

{% block page_content %}
<style>
    img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 500px;
  margin-right: 50px;

}
</style>
<h1>Experience</h1>
<img src="../static/static/img/skills.jpg" align="right" alt="" width="100%">
<h2>Courses</h2>
<div class="row">
    <div class="col-md-9">
        <div style="background-color:rgba(255,255,255,0.7);"class="card">
         <div class="card-body">
            <ul><Li>HTML course  - in progress</Li>
                <Li>Python course  - finished</Li>
                <Li>Django Course  - finished</Li>

            </ul>

            
         </div>
        </div>
    </div>
</div>
<h2>Professional experience</h2>
<div class="row">
    <div class="col-md-9">
        <div style="background-color:rgba(255,255,255,0.7);"class="card">
         <div class="card-body">
            <ul><Li>Nearly six years as a designer of municipal and industrial wastewater treatment plants</Li>

            </ul>

            
         </div>
        </div>
    </div>
</div>
<h2 >Education</h2>
<div class="row" >
    <div class="col-md-9">
        <div style="background-color:rgba(255,255,255,0.7);"class="card">
         <div class="card-body">
            <ul><Li>Engineer degree in Environmental Engineering</Li>

            </ul>

            
         </div>
        </div>
    </div>
</div>
<h2>Skills</h2>
<div class="row">
    <div class="col-md-5">
        <div style="background-color:rgba(255,255,255,0.7);"class="card">
         <div class="card-body">
            <ul><Li>Battle tested work under pressure</Li>
                <Li>Proven ability of team work</Li>
                <Li>Persistance in finding solution</Li>
                <Li>Decent english in speach and writting</Li>

            </ul>

            
         </div>
        </div>
    </div>
</div>
{% endblock %}